

body{
    width: 500px;
    font-size: 18px;
    color: #FFFFFF;
    padding: 20px;
    background-color: #180718;
    font-family: 'Vollkorn', serif;
    
}

#secao{
    color: #FFDA53;
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin: 0.2em;
    

}

h1{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 2.2em;
    border-bottom: 4px solid;

}
p{

    text-align: justify;
    margin: 2em;
    font-family: 'Vollkorn', serif;
}


p a:link{
    text-decoration: underline;
    text-decoration-color:  #FFDA53;
    
    
}

p a:visited{
    color: #FFFFFF;
    text-decoration-color:  #FFCC00;
}


p button{
    background-color: #FFCC00;
    border: none;
    padding: 0.9em;
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-weight: 700;
}