body{
    width: 500px;
    font-size: 18px;
    color: #231900;
    padding: 20px;
}

#secao{
    font-weight: 800;
    font-family: 'Open Sans', sans-serif;
    text-decoration: underline;

}

h1{
    font-size: 3em;
    font-family: 'Open Sans', sans-serif;
}

a{
    font-family: 'Crimson Text', serif;
    font-weight: 700;
    font-style: italic;
    
}

p a:link{
    
    text-decoration-color:  #FFCC00;
    
    
}

p a:visited{
    
    text-decoration-color:  #FFCC00;
}

p{
    font-weight: 400;
    font-family: 'Crimson Text', serif;
}

p button{
    background-color: #FFCC00;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    border: none;
    padding: 0.9em;
}