body {
    width: 500px;
    background-color: #e7b91b;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    padding: 1.1em;
    
  }

  h1{
    font-weight: 700;
    font-size: 12em;
    margin-bottom: 0.5em;
    line-height: 0;
    
    
    
  }

  h2{
    margin-top: 0;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 1em;
    letter-spacing: 0.01em;
    

  }

  p {
    text-align: justify;
    line-height: 1.5em  ;
  }